<div class="title-container">
    <h1>¡Bienvenido a ExpressVet!</h1>
    <h3>Donde tu mascota es nuestra prioridad</h3>
    <div class="title-icons">
        <img src="../../../assets/clipboard2-pulse-fill.svg" alt="">
        <img src="../../../assets/paw-solid.svg" alt="">
    </div>
</div>

<div class="form-container mt-5">
    <div class="text-container">
        <span>Registro de veterinarios</span>
    </div>
    <form>
        <div class="mb-3">
          <label for="inputUser" class="form-label">Usuario</label>
          <input type="text" class="form-control" id="inputUser">
        </div>
        <div class="mb-3">
            <label for="inputName" class="form-label">Nombre completo</label>
            <input type="text" class="form-control" id="inputName">
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="inputPassword">
        </div>
        <button type="submit" class="btn btn-primary">Crear usuario</button>
    </form>
</div>